<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta http-equiv="Content-Language" content="ja">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="address=no">
<meta name="viewport" content="target-densitydpi=device-dpi, width=1200, user-scalable=yes">
<!--[if lte IE 9]>
<div class="legacy_ie">
このサイトはご利用のブラウザでは正常にご覧いただけない場合がございます<br>
<a href="http://windows.microsoft.com/ja-JP/internet-explorer/downloads/ie" target="_blank">こちらから最新版をダウンロードしてご利用ください。</a>
</div>
<![endif]-->
</head>

<body>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<div class="container" id="container" style="
    margin-top: 30px;
">
  <div class="row">
    <div class="col" >
      <h1 id="title" style="font-family: 'Tangerine', serif; font-size: 78px;"> Girls of the Wild's<span id="spantitle"> 🥊 </span> </h1>
 &nbsp
      <h2 style="overflow:auto; padding:0.2em 0.4em; margin:10px 0 10px 0;  background: #F06292; color:#00000; font-size:120%; font-weight:bold; text-align:left; -moz-border-radius:0.5em;-webkit-border-radius:0.5em;"><span class="mw-headline" id="Plot">Plot</span></h2>
      <h5 style="font-family: 'Lato', serif;" >  An online manhwa written by HUN / ZHENA , the story revolves around an unfortunate young high-school student Song Jae Gu. Jae Gu's father had died of an unknown disease when he was young, which caused his mother to abandon Jae Gu and his two younger siblings. His mother's decision greatly scarred him, causing him to be diagnosed as both a misogynist  (hatred of women) and gynophobist (fear of women). While struggling to take care of his two younger siblings, he got some uncharacteristic good fortune when he was granted a full scholarship for three years based solely on attendance to the nearby high school known as "Wild's High-School". Wild's High has a history of 42 years as a fighting specialist all-girls private school meant solely for the elite. Wild's High is famous for producing female mixed martial artists and is changing to Co-Ed in an attempt made by the Chairman (Charles Wilds), to help teach his female students a "maiden-like side" to go along with their Mixed Martial Arts (MMA) dominance. After joining, Jae Gu discovered that he is the first and only male student in what was previously an all girls school. Wild's High is also famous for hosting Wild's league, the most popular event in the country, the only place in the world where teenage girls have brutal fights with their lives.The story follows Jae Gu's struggle, from being the only male in school full of beautiful and deadly women learning to fight and stand up for himself.</5>
      <h2 style="overflow:auto; padding:0.2em 0.4em; margin:10px 0 10px 0;  background: #F06292; color:#00000; font-size:120%; font-weight:bold; text-align:left; -moz-border-radius:0.5em;-webkit-border-radius:0.5em;"><span class="mw-headline" id="Plot">Characters</span></h2>

<td>
<table cellspacing="1" style="margin: 0 auto; width: 270px;">
<tbody><tr>
<td>
<table style="background:pink; border:1px solid pink;-moz-border-radius:5px;">

<tbody><tr style="text-align: center;">
<td><div style="position:relative; height: 90px; width: 100px;">
<div style="position: absolute; top: 77px; left: 0px; width: 100px; overflow: hidden; line-height: 12px; z-index: 4; text-align: right;"><table cellspacing="0" cellpadding="1" style="float: right; background:pink;-moz-border-radius-topleft:8px;"><tbody><tr><td>&nbsp;<a href="http://girlsofthewilds.wikia.com/wiki/Song_Jae_Gu" title="Song Jae Gu" class="mw-redirect"><font color="#333333" size="1"><b>Song Jae Gu</b></font></a></td></tr></tbody></table></div>
<div style="position: absolute; top: 0px; left: 0px; height: 90px; width: 100px; overflow: hidden">
<div style="position: absolute; top: 0px; left: 0px; font-size: 130px; overflow: hidden; line-height: 100px; z-index: 3"><a href="http://girlsofthewilds.wikia.com/wiki/Song_Jae_Gu" title="Song Jae Gu" class="mw-redirect">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
<div style="position: absolute; top: 0px; left: 0px; z-index: 2"><a href="https://vignette2.wikia.nocookie.net/girlsofthewilds/images/b/b6/Song_Jae_Gu_01.jpg/revision/latest?cb=20140209080405" class="image image-thumbnail" title="Song Jae Gu" data-external="true"><img src="https://vignette2.wikia.nocookie.net/girlsofthewilds/images/b/b6/Song_Jae_Gu_01.jpg/revision/latest/scale-to-width-down/100?cb=20140209080405" alt="Song Jae Gu 01" class="" data-image-key="Song_Jae_Gu_01.jpg" data-image-name="Song Jae Gu 01.jpg" width="100" height="100"></a></div>
</div></div>
</td></tr></tbody></table>
</td><td>
<table style="background:pink; border:1px solid pink;-moz-border-radius:5px;">

<tbody><tr style="text-align: center;">
<td><div style="position:relative; height: 90px; width: 100px;">
<div style="position: absolute; top: 77px; left: 0px; width: 100px; overflow: hidden; line-height: 12px; z-index: 4; text-align: right;"><table cellspacing="0" cellpadding="1" style="float: right; background:pink;-moz-border-radius-topleft:8px;"><tbody><tr><td>&nbsp;<a href="http://girlsofthewilds.wikia.com/wiki/Queen" title="Queen" class="mw-redirect"><font color="#333333" size="1"><b>Yoon In Gyi</b></font></a></td></tr></tbody></table></div>
<div style="position: absolute; top: 0px; left: 0px; height: 90px; width: 100px; overflow: hidden">
<div style="position: absolute; top: 0px; left: 0px; font-size: 130px; overflow: hidden; line-height: 100px; z-index: 3"><a href="http://girlsofthewilds.wikia.com/wiki/Queen" title="Queen" class="mw-redirect">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
<div style="position: absolute; top: 0px; left: 0px; z-index: 2"><a href="https://vignette2.wikia.nocookie.net/girlsofthewilds/images/7/72/Yoon_In_Gyi.jpg/revision/latest?cb=20140209082859" class="image image-thumbnail" title="Queen" data-external="true"><img src="https://vignette2.wikia.nocookie.net/girlsofthewilds/images/7/72/Yoon_In_Gyi.jpg/revision/latest/scale-to-width-down/100?cb=20140209082859" alt="Yoon In Gyi" class="" data-image-key="Yoon_In_Gyi.jpg" data-image-name="Yoon In Gyi.jpg" width="100" height="100"></a></div>
</div></div>
</td></tr></tbody></table>
</td><td>
<table style="background:pink; border:1px solid pink;-moz-border-radius:5px;">

<tbody><tr style="text-align: center;">
<td><div style="position:relative; height: 90px; width: 100px;">
<div style="position: absolute; top: 77px; left: 0px; width: 100px; overflow: hidden; line-height: 12px; z-index: 4; text-align: right;"><table cellspacing="0" cellpadding="1" style="float: right; background:pink;-moz-border-radius-topleft:8px;"><tbody><tr><td>&nbsp;<a href="http://girlsofthewilds.wikia.com/wiki/Dal_Dal_Choi" title="Dal Dal Choi"><font color="#333333" size="1"><b>Choi Dal Dal</b></font></a></td></tr></tbody></table></div>
<div style="position: absolute; top: 0px; left: 0px; height: 90px; width: 100px; overflow: hidden">
<div style="position: absolute; top: 0px; left: 0px; font-size: 130px; overflow: hidden; line-height: 100px; z-index: 3"><a href="http://girlsofthewilds.wikia.com/wiki/Dal_Dal_Choi" title="Dal Dal Choi">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
<div style="position: absolute; top: 0px; left: 0px; z-index: 2"><a href="https://vignette3.wikia.nocookie.net/girlsofthewilds/images/b/b2/Choi_Dal_Dal.jpg/revision/latest?cb=20140209083023" class="image image-thumbnail" title="Dal Dal Choi" data-external="true"><img src="https://vignette3.wikia.nocookie.net/girlsofthewilds/images/b/b2/Choi_Dal_Dal.jpg/revision/latest/scale-to-width-down/100?cb=20140209083023" alt="Choi Dal Dal" class="lzyPlcHld  lzyTrns lzyLoaded" data-image-key="Choi_Dal_Dal.jpg" data-image-name="Choi Dal Dal.jpg" data-src="https://vignette3.wikia.nocookie.net/girlsofthewilds/images/b/b2/Choi_Dal_Dal.jpg/revision/latest/scale-to-width-down/100?cb=20140209083023" width="100" height="100" onload="if(typeof ImgLzy==='object'){ImgLzy.load(this)}"><noscript>&lt;img src="https://vignette3.wikia.nocookie.net/girlsofthewilds/images/b/b2/Choi_Dal_Dal.jpg/revision/latest/scale-to-width-down/100?cb=20140209083023" 	 alt="Choi Dal Dal"  	class="" 	 	data-image-key="Choi_Dal_Dal.jpg" 	data-image-name="Choi Dal Dal.jpg" 	 	 width="100"  	 height="100"  	 	 	 	&gt;</noscript></a></div>
</div></div>
</td></tr></tbody></table>
</td><td>
<table style="background:pink; border:1px solid pink;-moz-border-radius:5px;">

<tbody><tr style="text-align: center;">
<td><div style="position:relative; height: 90px; width: 100px;">
<div style="position: absolute; top: 77px; left: 0px; width: 100px; overflow: hidden; line-height: 12px; z-index: 4; text-align: right;"><table cellspacing="0" cellpadding="1" style="float: right; background:pink;-moz-border-radius-topleft:8px;"><tbody><tr><td>&nbsp;<a href="http://girlsofthewilds.wikia.com/wiki/Lee_Moon_Young" title="Lee Moon Young" class="mw-redirect"><font color="#333333" size="1"><b>Lee Moon Young</b></font></a></td></tr></tbody></table></div>
<div style="position: absolute; top: 0px; left: 0px; height: 90px; width: 100px; overflow: hidden">
<div style="position: absolute; top: 0px; left: 0px; font-size: 130px; overflow: hidden; line-height: 100px; z-index: 3"><a href="http://girlsofthewilds.wikia.com/wiki/Lee_Moon_Young" title="Lee Moon Young" class="mw-redirect">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
<div style="position: absolute; top: 0px; left: 0px; z-index: 2"><a href="https://vignette1.wikia.nocookie.net/girlsofthewilds/images/9/99/Lee_Moon_Young.jpg/revision/latest?cb=20140209083116" class="image image-thumbnail" title="Lee Moon Young" data-external="true"><img src="https://vignette1.wikia.nocookie.net/girlsofthewilds/images/9/99/Lee_Moon_Young.jpg/revision/latest/scale-to-width-down/100?cb=20140209083116" alt="Lee Moon Young" class="lzyPlcHld  lzyTrns lzyLoaded" data-image-key="Lee_Moon_Young.jpg" data-image-name="Lee Moon Young.jpg" data-src="https://vignette1.wikia.nocookie.net/girlsofthewilds/images/9/99/Lee_Moon_Young.jpg/revision/latest/scale-to-width-down/100?cb=20140209083116" width="100" height="100" onload="if(typeof ImgLzy==='object'){ImgLzy.load(this)}"><noscript>&lt;img src="https://vignette1.wikia.nocookie.net/girlsofthewilds/images/9/99/Lee_Moon_Young.jpg/revision/latest/scale-to-width-down/100?cb=20140209083116" 	 alt="Lee Moon Young"  	class="" 	 	data-image-key="Lee_Moon_Young.jpg" 	data-image-name="Lee Moon Young.jpg" 	 	 width="100"  	 height="100"  	 	 	 	&gt;</noscript></a></div>
</div></div>
</td></tr></tbody></table>
</td><td>
<table style="background:pink; border:1px solid pink;-moz-border-radius:5px;">

<tbody><tr style="text-align: center;">
<td><div style="position:relative; height: 90px; width: 100px;">
<div style="position: absolute; top: 77px; left: 0px; width: 100px; overflow: hidden; line-height: 12px; z-index: 4; text-align: right;"><table cellspacing="0" cellpadding="1" style="float: right; background:pink;-moz-border-radius-topleft:8px;"><tbody><tr><td>&nbsp;<a href="http://girlsofthewilds.wikia.com/wiki/Kim_Hye_Shin" title="Kim Hye Shin" class="mw-redirect"><font color="#333333" size="1"><b>Kim Hye Shin</b></font></a></td></tr></tbody></table></div>
<div style="position: absolute; top: 0px; left: 0px; height: 90px; width: 100px; overflow: hidden">
<div style="position: absolute; top: 0px; left: 0px; font-size: 130px; overflow: hidden; line-height: 100px; z-index: 3"><a href="http://girlsofthewilds.wikia.com/wiki/Kim_Hye_Shin" title="Kim Hye Shin" class="mw-redirect">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
<div style="position: absolute; top: 0px; left: 0px; z-index: 2"><a href="https://vignette4.wikia.nocookie.net/girlsofthewilds/images/9/9d/Kim_Hye_Shin.jpg/revision/latest?cb=20140209093345" class="image image-thumbnail" title="Kim Hye Shin" data-external="true"><img src="https://vignette4.wikia.nocookie.net/girlsofthewilds/images/9/9d/Kim_Hye_Shin.jpg/revision/latest/scale-to-width-down/100?cb=20140209093345" alt="Kim Hye Shin" class="lzyPlcHld  lzyTrns lzyLoaded" data-image-key="Kim_Hye_Shin.jpg" data-image-name="Kim Hye Shin.jpg" data-src="https://vignette4.wikia.nocookie.net/girlsofthewilds/images/9/9d/Kim_Hye_Shin.jpg/revision/latest/scale-to-width-down/100?cb=20140209093345" width="100" height="100" onload="if(typeof ImgLzy==='object'){ImgLzy.load(this)}"><noscript>&lt;img src="https://vignette4.wikia.nocookie.net/girlsofthewilds/images/9/9d/Kim_Hye_Shin.jpg/revision/latest/scale-to-width-down/100?cb=20140209093345" 	 alt="Kim Hye Shin"  	class="" 	 	data-image-key="Kim_Hye_Shin.jpg" 	data-image-name="Kim Hye Shin.jpg" 	 	 width="100"  	 height="100"  	 	 	 	&gt;</noscript></a></div>
</div></div>
</td></tr></tbody></table>
</td><td>
<table style="background:pink; border:1px solid pink;-moz-border-radius:5px;">

<tbody><tr style="text-align: center;">
<td><div style="position:relative; height: 90px; width: 100px;">
<div style="position: absolute; top: 77px; left: 0px; width: 100px; overflow: hidden; line-height: 12px; z-index: 4; text-align: right;"><table cellspacing="0" cellpadding="1" style="float: right; background:pink;-moz-border-radius-topleft:8px;"><tbody><tr><td>&nbsp;<a href="http://girlsofthewilds.wikia.com/wiki/Lee_Seub_Seul" title="Lee Seub Seul"><font color="#333333" size="1"><b>Lee Seub Seul</b></font></a></td></tr></tbody></table></div>
<div style="position: absolute; top: 0px; left: 0px; height: 90px; width: 100px; overflow: hidden">
<div style="position: absolute; top: 0px; left: 0px; font-size: 130px; overflow: hidden; line-height: 100px; z-index: 3"><a href="http://girlsofthewilds.wikia.com/wiki/Lee_Seub_Seul" title="Lee Seub Seul">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
<div style="position: absolute; top: 0px; left: 0px; z-index: 2"><a href="https://vignette2.wikia.nocookie.net/girlsofthewilds/images/f/f7/Seub_Seul_Lee.PNG/revision/latest?cb=20140209115558" class="image image-thumbnail" title="Lee Seub Seul" data-external="true"><img src="https://vignette2.wikia.nocookie.net/girlsofthewilds/images/f/f7/Seub_Seul_Lee.PNG/revision/latest/scale-to-width-down/100?cb=20140209115558" alt="Seub Seul Lee" class="lzyPlcHld  lzyTrns lzyLoaded" data-image-key="Seub_Seul_Lee.PNG" data-image-name="Seub Seul Lee.PNG" data-src="https://vignette2.wikia.nocookie.net/girlsofthewilds/images/f/f7/Seub_Seul_Lee.PNG/revision/latest/scale-to-width-down/100?cb=20140209115558" width="100" height="100" onload="if(typeof ImgLzy==='object'){ImgLzy.load(this)}"><noscript>&lt;img src="https://vignette2.wikia.nocookie.net/girlsofthewilds/images/f/f7/Seub_Seul_Lee.PNG/revision/latest/scale-to-width-down/100?cb=20140209115558" 	 alt="Seub Seul Lee"  	class="" 	 	data-image-key="Seub_Seul_Lee.PNG" 	data-image-name="Seub Seul Lee.PNG" 	 	 width="100"  	 height="100"  	 	 	 	&gt;</noscript></a></div>
</div></div>
</td></tr></tbody></table>
</td></tr>
<tr>
<td>
<table style="background:pink; border:1px solid pink;-moz-border-radius:5px;">

<tbody><tr style="text-align: center;">
<td><div style="position:relative; height: 90px; width: 100px;">
<div style="position: absolute; top: 77px; left: 0px; width: 100px; overflow: hidden; line-height: 12px; z-index: 4; text-align: right;"><table cellspacing="0" cellpadding="1" style="float: right; background:pink;-moz-border-radius-topleft:8px;"><tbody><tr><td>&nbsp;<a href="http://girlsofthewilds.wikia.com/wiki/Lee_Go_Seul" title="Lee Go Seul"><font color="#333333" size="1"><b>Lee Go Seul</b></font></a></td></tr></tbody></table></div>
<div style="position: absolute; top: 0px; left: 0px; height: 90px; width: 100px; overflow: hidden">
<div style="position: absolute; top: 0px; left: 0px; font-size: 130px; overflow: hidden; line-height: 100px; z-index: 3"><a href="http://girlsofthewilds.wikia.com/wiki/Lee_Go_Seul" title="Lee Go Seul">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
<div style="position: absolute; top: 0px; left: 0px; z-index: 2"><a href="https://vignette2.wikia.nocookie.net/girlsofthewilds/images/c/cb/Lee_Go_Seul.jpg/revision/latest?cb=20140209094035" class="image image-thumbnail" title="Lee Go Seul" data-external="true"><img src="https://vignette2.wikia.nocookie.net/girlsofthewilds/images/c/cb/Lee_Go_Seul.jpg/revision/latest/scale-to-width-down/100?cb=20140209094035" alt="Lee Go Seul" class="lzyPlcHld  lzyTrns lzyLoaded" data-image-key="Lee_Go_Seul.jpg" data-image-name="Lee Go Seul.jpg" data-src="https://vignette2.wikia.nocookie.net/girlsofthewilds/images/c/cb/Lee_Go_Seul.jpg/revision/latest/scale-to-width-down/100?cb=20140209094035" width="100" height="100" onload="if(typeof ImgLzy==='object'){ImgLzy.load(this)}"><noscript>&lt;img src="https://vignette2.wikia.nocookie.net/girlsofthewilds/images/c/cb/Lee_Go_Seul.jpg/revision/latest/scale-to-width-down/100?cb=20140209094035" 	 alt="Lee Go Seul"  	class="" 	 	data-image-key="Lee_Go_Seul.jpg" 	data-image-name="Lee Go Seul.jpg" 	 	 width="100"  	 height="100"  	 	 	 	&gt;</noscript></a></div>
</div></div>
</td></tr></tbody></table>
</td><td>
<table style="background:pink; border:1px solid pink;-moz-border-radius:5px;">

<tbody><tr style="text-align: center;">
<td><div style="position:relative; height: 90px; width: 100px;">
<div style="position: absolute; top: 77px; left: 0px; width: 100px; overflow: hidden; line-height: 12px; z-index: 4; text-align: right;"><table cellspacing="0" cellpadding="1" style="float: right; background:pink;-moz-border-radius-topleft:8px;"><tbody><tr><td>&nbsp;<a href="http://girlsofthewilds.wikia.com/wiki/Li_Mi_Nam" title="Li Mi Nam"><font color="#333333" size="1"><b>Li Mi Nam</b></font></a></td></tr></tbody></table></div>
<div style="position: absolute; top: 0px; left: 0px; height: 90px; width: 100px; overflow: hidden">
<div style="position: absolute; top: 0px; left: 0px; font-size: 130px; overflow: hidden; line-height: 100px; z-index: 3"><a href="http://girlsofthewilds.wikia.com/wiki/Li_Mi_Nam" title="Li Mi Nam">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
<div style="position: absolute; top: 0px; left: 0px; z-index: 2"><a href="https://vignette4.wikia.nocookie.net/girlsofthewilds/images/b/b6/Mi_Nam_Li.jpg/revision/latest?cb=20140209093751" class="image image-thumbnail" title="Li Mi Nam" data-external="true"><img src="https://vignette4.wikia.nocookie.net/girlsofthewilds/images/b/b6/Mi_Nam_Li.jpg/revision/latest/scale-to-width-down/100?cb=20140209093751" alt="Mi Nam Li" class="lzyPlcHld  lzyTrns lzyLoaded" data-image-key="Mi_Nam_Li.jpg" data-image-name="Mi Nam Li.jpg" data-src="https://vignette4.wikia.nocookie.net/girlsofthewilds/images/b/b6/Mi_Nam_Li.jpg/revision/latest/scale-to-width-down/100?cb=20140209093751" width="100" height="100" onload="if(typeof ImgLzy==='object'){ImgLzy.load(this)}"><noscript>&lt;img src="https://vignette4.wikia.nocookie.net/girlsofthewilds/images/b/b6/Mi_Nam_Li.jpg/revision/latest/scale-to-width-down/100?cb=20140209093751" 	 alt="Mi Nam Li"  	class="" 	 	data-image-key="Mi_Nam_Li.jpg" 	data-image-name="Mi Nam Li.jpg" 	 	 width="100"  	 height="100"  	 	 	 	&gt;</noscript></a></div>
</div></div>
</td></tr></tbody></table>
</td><td>
<table style="background:pink; border:1px solid pink;-moz-border-radius:5px;">

<tbody><tr style="text-align: center;">
<td><div style="position:relative; height: 90px; width: 100px;">
<div style="position: absolute; top: 77px; left: 0px; width: 100px; overflow: hidden; line-height: 12px; z-index: 4; text-align: right;"><table cellspacing="0" cellpadding="1" style="float: right; background:pink;-moz-border-radius-topleft:8px;"><tbody><tr><td>&nbsp;<a href="http://girlsofthewilds.wikia.com/wiki/Kim_Han_Gyul" title="Kim Han Gyul"><font color="#333333" size="1"><b>Kim Han Gyul</b></font></a></td></tr></tbody></table></div>
<div style="position: absolute; top: 0px; left: 0px; height: 90px; width: 100px; overflow: hidden">
<div style="position: absolute; top: 0px; left: 0px; font-size: 130px; overflow: hidden; line-height: 100px; z-index: 3"><a href="http://girlsofthewilds.wikia.com/wiki/Kim_Han_Gyul" title="Kim Han Gyul">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
<div style="position: absolute; top: 0px; left: 0px; z-index: 2"><a href="https://vignette1.wikia.nocookie.net/girlsofthewilds/images/b/bb/Kim_Han_Gyul.png/revision/latest?cb=20140209102358" class="image image-thumbnail" title="Kim Han Gyul" data-external="true"><img src="https://vignette1.wikia.nocookie.net/girlsofthewilds/images/b/bb/Kim_Han_Gyul.png/revision/latest/scale-to-width-down/100?cb=20140209102358" alt="Kim Han Gyul" class="lzyPlcHld  lzyTrns lzyLoaded" data-image-key="Kim_Han_Gyul.png" data-image-name="Kim Han Gyul.png" data-src="https://vignette1.wikia.nocookie.net/girlsofthewilds/images/b/bb/Kim_Han_Gyul.png/revision/latest/scale-to-width-down/100?cb=20140209102358" width="100" height="100" onload="if(typeof ImgLzy==='object'){ImgLzy.load(this)}"><noscript>&lt;img src="https://vignette1.wikia.nocookie.net/girlsofthewilds/images/b/bb/Kim_Han_Gyul.png/revision/latest/scale-to-width-down/100?cb=20140209102358" 	 alt="Kim Han Gyul"  	class="" 	 	data-image-key="Kim_Han_Gyul.png" 	data-image-name="Kim Han Gyul.png" 	 	 width="100"  	 height="100"  	 	 	 	&gt;</noscript></a></div>
</div></div>
</td></tr></tbody></table>
</td><td>
<table style="background:pink; border:1px solid pink;-moz-border-radius:5px;">

<tbody><tr style="text-align: center;">
<td><div style="position:relative; height: 90px; width: 100px;">
<div style="position: absolute; top: 77px; left: 0px; width: 100px; overflow: hidden; line-height: 12px; z-index: 4; text-align: right;"><table cellspacing="0" cellpadding="1" style="float: right; background:pink;-moz-border-radius-topleft:8px;"><tbody><tr><td>&nbsp;<a href="http://girlsofthewilds.wikia.com/wiki/Kim_Yeo_Jung" title="Kim Yeo Jung"><font color="#333333" size="1"><b>Kim Yeo Jung</b></font></a></td></tr></tbody></table></div>
<div style="position: absolute; top: 0px; left: 0px; height: 90px; width: 100px; overflow: hidden">
<div style="position: absolute; top: 0px; left: 0px; font-size: 130px; overflow: hidden; line-height: 100px; z-index: 3"><a href="http://girlsofthewilds.wikia.com/wiki/Kim_Yeo_Jung" title="Kim Yeo Jung">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
<div style="position: absolute; top: 0px; left: 0px; z-index: 2"><a href="https://vignette3.wikia.nocookie.net/girlsofthewilds/images/a/a0/Jung_Kim_Yeo.png/revision/latest?cb=20140209125038" class="image image-thumbnail" title="Kim Yeo Jung" data-external="true"><img src="https://vignette3.wikia.nocookie.net/girlsofthewilds/images/a/a0/Jung_Kim_Yeo.png/revision/latest/scale-to-width-down/100?cb=20140209125038" alt="Jung Kim Yeo" class="lzyPlcHld  lzyTrns lzyLoaded" data-image-key="Jung_Kim_Yeo.png" data-image-name="Jung Kim Yeo.png" data-src="https://vignette3.wikia.nocookie.net/girlsofthewilds/images/a/a0/Jung_Kim_Yeo.png/revision/latest/scale-to-width-down/100?cb=20140209125038" width="100" height="100" onload="if(typeof ImgLzy==='object'){ImgLzy.load(this)}"><noscript>&lt;img src="https://vignette3.wikia.nocookie.net/girlsofthewilds/images/a/a0/Jung_Kim_Yeo.png/revision/latest/scale-to-width-down/100?cb=20140209125038" 	 alt="Jung Kim Yeo"  	class="" 	 	data-image-key="Jung_Kim_Yeo.png" 	data-image-name="Jung Kim Yeo.png" 	 	 width="100"  	 height="100"  	 	 	 	&gt;</noscript></a></div>
</div></div>
</td></tr></tbody></table>
</td><td>
<table style="background:pink; border:1px solid pink;-moz-border-radius:5px;">

<tbody><tr style="text-align: center;">
<td><div style="position:relative; height: 90px; width: 100px;">
<div style="position: absolute; top: 77px; left: 0px; width: 100px; overflow: hidden; line-height: 12px; z-index: 4; text-align: right;"><table cellspacing="0" cellpadding="1" style="float: right; background:pink;-moz-border-radius-topleft:8px;"><tbody><tr><td>&nbsp;<a href="http://girlsofthewilds.wikia.com/wiki/Kim_Joon_Gu" title="Kim Joon Gu"><font color="#333333" size="1"><b>Kim Joon Gu</b></font></a></td></tr></tbody></table></div>
<div style="position: absolute; top: 0px; left: 0px; height: 90px; width: 100px; overflow: hidden">
<div style="position: absolute; top: 0px; left: 0px; font-size: 130px; overflow: hidden; line-height: 100px; z-index: 3"><a href="http://girlsofthewilds.wikia.com/wiki/Kim_Joon_Gu" title="Kim Joon Gu">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
<div style="position: absolute; top: 0px; left: 0px; z-index: 2"><a href="https://vignette1.wikia.nocookie.net/girlsofthewilds/images/8/8e/Jun_Goo_Kim.png/revision/latest?cb=20140209130127" class="image image-thumbnail" title="Kim Joon Gu" data-external="true"><img src="https://vignette1.wikia.nocookie.net/girlsofthewilds/images/8/8e/Jun_Goo_Kim.png/revision/latest/scale-to-width-down/100?cb=20140209130127" alt="Jun Goo Kim" class="lzyPlcHld  lzyTrns lzyLoaded" data-image-key="Jun_Goo_Kim.png" data-image-name="Jun Goo Kim.png" data-src="https://vignette1.wikia.nocookie.net/girlsofthewilds/images/8/8e/Jun_Goo_Kim.png/revision/latest/scale-to-width-down/100?cb=20140209130127" width="100" height="100" onload="if(typeof ImgLzy==='object'){ImgLzy.load(this)}"><noscript>&lt;img src="https://vignette1.wikia.nocookie.net/girlsofthewilds/images/8/8e/Jun_Goo_Kim.png/revision/latest/scale-to-width-down/100?cb=20140209130127" 	 alt="Jun Goo Kim"  	class="" 	 	data-image-key="Jun_Goo_Kim.png" 	data-image-name="Jun Goo Kim.png" 	 	 width="100"  	 height="100"  	 	 	 	&gt;</noscript></a></div>
</div></div>
</td></tr></tbody></table>
</td><td>
<table style="background:pink; border:1px solid pink;-moz-border-radius:5px;">

<tbody><tr style="text-align: center;">
<td><div style="position:relative; height: 90px; width: 100px;">
<div style="position: absolute; top: 77px; left: 0px; width: 100px; overflow: hidden; line-height: 12px; z-index: 4; text-align: right;"><table cellspacing="0" cellpadding="1" style="float: right; background:pink;-moz-border-radius-topleft:8px;"><tbody><tr><td>&nbsp;<a href="http://girlsofthewilds.wikia.com/wiki/Lee_Na" title="Lee Na"><font color="#333333" size="1"><b>Lee Na</b></font></a></td></tr></tbody></table></div>
<div style="position: absolute; top: 0px; left: 0px; height: 90px; width: 100px; overflow: hidden">
<div style="position: absolute; top: 0px; left: 0px; font-size: 130px; overflow: hidden; line-height: 100px; z-index: 3"><a href="http://girlsofthewilds.wikia.com/wiki/Lee_Na" title="Lee Na">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
<div style="position: absolute; top: 0px; left: 0px; z-index: 2"><a href="https://vignette2.wikia.nocookie.net/girlsofthewilds/images/6/61/MWSnap751.jpg/revision/latest?cb=20120524052843" class="image image-thumbnail" title="Lee Na" data-external="true"><img src="https://vignette2.wikia.nocookie.net/girlsofthewilds/images/6/61/MWSnap751.jpg/revision/latest/scale-to-width-down/100?cb=20120524052843" alt="MWSnap751" class="lzyPlcHld  lzyTrns lzyLoaded" data-image-key="MWSnap751.jpg" data-image-name="MWSnap751.jpg" data-src="https://vignette2.wikia.nocookie.net/girlsofthewilds/images/6/61/MWSnap751.jpg/revision/latest/scale-to-width-down/100?cb=20120524052843" width="100" height="143" onload="if(typeof ImgLzy==='object'){ImgLzy.load(this)}"><noscript>&lt;img src="https://vignette2.wikia.nocookie.net/girlsofthewilds/images/6/61/MWSnap751.jpg/revision/latest/scale-to-width-down/100?cb=20120524052843" 	 alt="MWSnap751"  	class="" 	 	data-image-key="MWSnap751.jpg" 	data-image-name="MWSnap751.jpg" 	 	 width="100"  	 height="143"  	 	 	 	&gt;</noscript></a></div>
</div></div>
</td></tr></tbody></table>
</td></tr>
</tbody></table>
</td>
&nbsp
&nbsp
      
      <div class="card" style="width: 40rem;">
  <img class="card-img-top" src="https://k60.kn3.net/8/A/A/A/4/C/0D8.jpg" alt="Hermosa">
  <div class="card-block">
    <h4 id="texto-origen" class="card-title">Excellent Manhwa😁</h4>
    <p class="card-text">I loved everything about him, even his end, although I think a robbery in Japan is having very bad luck haha.</p>
    <a href="https://www.linkedin.com/in/iv%C3%A1n-nesteruk-26185b112/" class="btn btn-primary">Linkedin Profile</a>
    
  </div>
</div>
      
      
    
    </div>   
    
    <div class="col" id="coll">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="https://k60.kn3.net/C/E/E/4/A/A/673.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="https://k61.kn3.net/3/F/8/5/2/C/E7D.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="https://k61.kn3.net/C/9/E/C/6/0/12D.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
        &nbsp
</div>

      <a href="https://www.tumangaonline.com/biblioteca/mangas/8976/Girls-of-the-Wilds" class="btn btn-primary" target="_blank">Click for the read the manhwa</a>
    </div>
  </div>
<footer>
	<div class="inner">
		<div class="copy"></div>
    <h1>Project FreeCodeCamp</h1>
		<div class="cero"></div>
	</div>
</footer>
</body>

